/* You can add global styles to this file, and also import other style files */
app-root {
    display: grid;
    position: fixed;
    width: 100%;
    height: 100%;
    background: aquamarine;
    grid-template-rows: auto 1fr auto;
}
router-outlet {
    display: none;
}
body {
    margin: 0;
}